*{
    margin: 0;
    padding: 0;
    color: white;
}

a{
    text-decoration: none;
    margin-right:250px
}
#navbar{
    height:60px;
    background-color: #0f1111;
    align-content: center;
}
button{
    background-color: #f08804;
}
#logo{
    color:#f08804;
    font-size: 25px;
}