#box1,#box2,#box3,#box4, #box5{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

h1{
    margin-top:110px;
}
#box1{
    position: static;
    background-color: greenyellow;
}

#box2{
    position: relative;
    top: 20px;
    left: 25px;
    background-color: blueviolet;
    z-index: 1;
}
#box3{
    position: absolute;
    top:10px;
    background-color: green; /*here, as respect to parent body tag it shifted...*/
}


#box4{
    position: fixed;
    top:0;
    background-color: red;
}

#box5{
    position: sticky;
    top: 0;
}

/*Background-image example*/

#box5{
    background-image: url("fons.jpg");
    background-size: cover;
}