#navbar{
    display: flex;
    background-color: rgb(228, 225, 225);
    justify-content: space-evenly;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
    display: inline;
}

.outer{
    height: 400px;
    width: 400px;
    border:2px solid black;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    height: 200px;
    width: 200px;
    border: 2px solid whitesmoke;
    background-color: rgb(58, 55, 55);
}
